@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --page-background: #f3f4f6;
  --surface: #f9fafb;

  --primary: #257beb;
  --theme: #ff7b00;
  --success: #16a34a;
  --danger: red;

  --font-sans: Arial, Helvetica, sans-serif;
}

/* Темная тема */
[data-theme="dark"] {
  --background: #171717;
  --foreground: #ffffff;

  --page-background: #0a0a0a;
  --surface: #101010;

  --primary: #2563eb;
  --theme: #ff7b00;
  --success: #16a34a;
  --danger: red;

  --font-sans: Arial, Helvetica, sans-serif;
}